# dependencies
/node_modules

# production
/build
/dist
  
# misc
package.json.bak
.DS_Store

# config file
.vscode
.env

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log* 

client_secret_86666038436-mqhhrsr76l3d4eeuel0s4jqp5d6kqvpk.apps.googleusercontent.com.json